*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica;
    font-size: 1rem;
}

nav {
    height: 5rem;
    background-color: #f8f8f8;
    box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.heading {
    font-size: 2.5rem;
    text-transform: capitalize;
    background: -webkit-linear-gradient(#f14848, rgb(68, 63, 63));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    ;
}

.cart-total-container img {
    position: relative;
}

.cart-total {
    position: absolute;
    top: 2px;
    right: 22px;
    font-size: .87rem;
    padding: 0.5rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#f14848, rgb(68, 63, 63));
    color: #fff;
    width: auto;
    display: grid;
    place-items: center;
}

/* nav end here */

/* main */
.product-section-heading {
    font-size: 2.5rem;
    text-transform: capitalize;
    background: -webkit-linear-gradient(#3866e2, rgb(68, 63, 63));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 2rem;
}

.cart-section {
    width: 95vw;
    margin: 20px auto;

}

.product-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 4rem;
    width: 85vw;
    margin: 20px auto;

}

.products {
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    transition: all .3s linear;
}

.products:hover {
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}

.product-img {
    width: 300px;
    height: 250px;
}

.product-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-name {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
    text-transform: capitalize;
}

.product-price-and-btn {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.price {
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-container button,
.remove {
    background-color: transparent;
    border: transparent;
    font-size: 1.2rem;
    cursor: pointer;
}

.quantity {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

/* Cart page */


.cart-center {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 2rem;
    width: 85vw;
    margin: 20px auto;
    justify-items: center;
}

.shoes-card {
    display: flex;
    gap: 1.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 1.5rem 2.5rem;
    transition: all 0.3s linear;
}

.shoes-card:hover {
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
}

.details {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .75rem;
}

.item-total {
    margin-top: 1rem;
}

.cart-item-price {
    background: #000000;
    color: #fff;
    padding: .5rem;
    font-weight: 400;
}

.remove {
    font-weight: 600;
    color: #f14848;
}